/* =========================================================
|   |   |   |   |   store css start  |   |   |   |   |   |   
============================================================*/
#store {
    @include pgap(90px, 90px, 0, 0);
    background: #121212;

    .store-header {
        h3 {
            @include font('Barlow Condensed', 38px, 600, $normal);
            text-transform: uppercase;
            line-height: 56px;
            letter-spacing: 3px;
            position: relative;

            &::after {
                content: '';
                position: absolute;
                left: 200px;
                bottom: 12px;
                width: 110px;
                height: 3px;
                background: $normalbg;
                animation: store-head 1s infinite;

                @keyframes store-head {
                    0% {
                        background: #fff;
                    }

                    100% {
                        background: $hoverbg;
                    }
                }
            }

            .typed6-text {
                @include font('Barlow Condensed', 38px, 600, $hoverbg);
                text-transform: uppercase;
                position: absolute;
                left: 0;
                top: 0;
                line-height: 56px;
                letter-spacing: 3px;
                margin-right: 40px;
            }
        }
    }

    .store-content {
        margin-top: 102px;
        position: relative;
        transition: all linear 0.3s;

        .store-slider {
            .store-item {
                padding: 24px 0 22px 0;
                background: #212121;
                text-align: center;
                margin: 0 10px;

                h3 {
                    @include font('Oswald', 40px, 500, $normal);
                    text-transform: uppercase;
                    line-height: 60px;
                    letter-spacing: 1px;
                }

                .store-img {
                    margin-bottom: 35px;
                    margin-top: 7px;
                }

                h4 {
                    @include font('Oswald', 25px, 600, $normal);
                    text-transform: capitalize;
                    line-height: 37px;
                }

                a {
                    @include font('Oswald', 16px, 600, $normal);
                    text-transform: uppercase;
                    line-height: 23px;
                    margin-top: 7px;
                }
            }
        }

        .store-previous {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid $normalbg;
            left: -25px;
            top: 50%;
            transform: translateY(-50%);
            background: $hoverbg;
            color: $normal;
            cursor: pointer;
            font-size: 20px;
            visibility: hidden;
            opacity: 0;
            transition: all linear 0.3s;
        }

        .store-next {
            position: absolute;
            width: 50px;
            height: 50px;
            border-radius: 50%;
            border: 1px solid $normalbg;
            right: -25px;
            top: 50%;
            transform: translateY(-50%);
            ;
            background: $hoverbg;
            color: $normal;
            cursor: pointer;
            font-size: 20px;
            visibility: hidden;
            transition: all linear 0.3s;
            opacity: 0;
        }
        &:hover{
            .store-previous, .store-next{
                visibility: visible;
                opacity: 1;
            }
        }
    }
}

/* =========================================================
|   |   |   |   |   store css end  |   |   |   |   |   |   
============================================================*/